<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
    <div class="container-fluid">
      <div class="side-nav-button p-1 text-light" (click)="toggleSideNav()">
        <i class="bx bx-menu"></i>
      </div>
      <a class="navbar-brand px-4" href="#">Home Expense Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="spacer"></div>
        <form class="d-flex m-3">
          <input class="form-control me-2" type="search" placeholder="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  